body {
    transition: 0.5s;
}

#display {
    height: 150px;
    background-color: white;
    opacity: 0.9;
    overflow: auto;
    line-height: 10px;
}

#display #text{
    float: right;
}

#matchRooms {
    height: 150px;
    overflow: auto;
}

.choice {
    opacity: 0.8;
}

.choice:hover {
    opacity: 1.0;
}

#username-display {
    text-align: center;
}

#oppName-display {
    text-align: center;
}

#userStats {
    margin-top: 600px;
}
